{% set  body_classes = 'sidebar-mini layout-fixed' %}
{% extends "panel/layout/page.html" %}
{% block body %}

    <div class="wrapper">
      <!-- Navbar -->
      {% include "panel/layout/navbar.html" %}
      <!-- /.navbar -->
    
      <!-- Main Sidebar Container -->
      {% include "panel/layout/aside.html" %}
      <!-- / Main Sidebar Container -->
      
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        {% block dashboard %} {% endblock %}
      </div>
      <!-- /.content-wrapper -->

       <!-- /.content-wrapper -->
        

      <!-- Footer -->
       <footer class="main-footer">
          <strong>Copyright &copy; <a href="http://adminlte.io">{{description}}</a>.</strong>
          All rights reserved.
          <div class="float-right d-none d-sm-inline-block">
            <b>Version</b> 1.0.0
          </div>
        </footer>
       <!-- /Footer --> 

        <!-- Control Sidebar -->
        {% include "panel/layout/control-aside.html" %}
        <!-- /.control-sidebar -->


    </div>

  {% endblock %}

