<!DOCTYPEl>
<html lang="pt-BR">
<head>
    <title>{{description}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="DESCRIPTION" content="My PHP Framework">
    <meta name="ABSTRACT" content="Messias Dias | My PHP Framework">
    <meta name="KEYWORDS" content="HTML,CSS,Sass,Bootstrap,PHP,Twig,Framework,JavaScript,JQuery,VueJs,Mysql,Apache2,Git">
    <meta name="ROBOT" content="All">
    <meta name="RATING" content="general">
    <meta name="DISTRIBUTION" content="global">
    <meta name="LANGUAGE" content="PT">
    <link rel="icon" href="/assets/img/default/favicon.ico" type="image/x-icon"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700">
    <link rel="stylesheet" href="/assets/css/fontawesome.min.css">
    <link rel="stylesheet" href="/assets/css/dashboard.css">
    <script src="/assets/js/vue.js" ></script>
    
</head>
<body>
    <div  class="ui-dashboard">