<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>MD PHP Framework</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="DESCRIPTION" content="Meu Portifólio de Desenvolvimento Web">
    <meta name="ABSTRACT" content="Meu Portifólio de Desenvolvimento Web">
    <meta name="KEYWORDS" content="HTML,CSS,Sass,Bootstrap,PHP,Twig,Framework,JavaScript,JQuery,VueJs,Mysql,Apache2,Git">
    <meta name="ROBOT" content="All">
    <meta name="RATING" content="general">
    <meta name="DISTRIBUTION" content="global">
    <meta name="LANGUAGE" content="PT">
    <link rel="icon" href="assets/img/default/favicon.ico" type="image/x-icon"/>
</head>
<body>