{% extends "ui/template.html"%}
{% block main %}

    <div class="ui-box col-md-5  col-12 ">
        <div class="ui-box-header" >
            <strong>UI</strong> Form
        </div>


        <div class="ui-box-content" >
           
            <p>{{message}}</p>

            {user}

        </div>

        <div class="ui-box-footer" >
            <p>Footer</p>
        </div>
       
    </div>

    <div class="ui-box col-md-5  col-12 ">
        <div class="ui-box-header" >
            <strong>UI</strong> Form
        </div>


        <div class="ui-box-content" >
           
            <p>{{message}}</p>

            {user}

        </div>

        <div class="ui-box-footer" >
            <p>Footer</p>
        </div>
       
    </div>




    <div class="ui-box col-md-5 col-12 ">
        <div class="ui-box-header" >
            <strong>UI</strong> Form
        </div>


        <div class="ui-box-content" >
           
            <p>{{message}}</p>

            {user}

        </div>

        <div class="ui-box-footer" >
            <p>Footer</p>
        </div>
       
    </div>




    <div class="ui-box col-md-5 col-12 ">
        <div class="ui-box-header" >
            <strong>UI</strong> Form
        </div>


        <div class="ui-box-content" >
           
            <p>{{message}}</p>

            {user}

        </div>

        <div class="ui-box-footer" >
            <p>Footer</p>
        </div>
       
    </div>




    <div class="ui-box col-md-5  col-12 ">
        <div class="ui-box-header" >
            <strong>UI</strong> Form
        </div>


        <div class="ui-box-content" >
           
            <p>{{message}}</p>

            {user}

        </div>

        <div class="ui-box-footer" >
            <p>Footer</p>
        </div>
       
    </div>

    <div class="ui-box col-md-5  col-12 ">
        <div class="ui-box-header" >
            <strong>UI</strong> Form
        </div>


        <div class="ui-box-content" >
           
            <p>{{message}}</p>

            {user}

        </div>

        <div class="ui-box-footer" >
            <p>Footer</p>
        </div>
       
    </div>




    <div class="ui-box col-md-5 col-12 ">
        <div class="ui-box-header" >
            <strong>UI</strong> Form
        </div>


        <div class="ui-box-content" >
           
            <p>{{message}}</p>

            {user}

        </div>

        <div class="ui-box-footer" >
            <p>Footer</p>
        </div>
       
    </div>




    <div class="ui-box col-md-5 col-12 ">
        <div class="ui-box-header" >
            <strong>UI</strong> Form
        </div>


        <div class="ui-box-content" >
           
            <p>{{message}}</p>

            {user}

        </div>

        <div class="ui-box-footer" >
            <p>Footer</p>
        </div>
       
    </div>




{% endblock %}
