{% include 'ui/header.html'  %}

<div class="ui-page-container">

<div class="ui-page">

    <div class="ui-page-header" >

            <ul class="menu">
                <li class="active"> <a href="/" >Twig</a> </li>
                <li> <a href="/2" >Vue.Js</a> </li>
                <li> <a "#" target="_blank" rel="noreferrer" >UI</a> </li>
            </ul> 

    </div>


            
    <div class="ui-page-body"  >


         <div class="row">

            <div class="ui-page-body-left">
                
                <h1 >{{description}}</h1>
                <p>Welcome with Twig Template Engine</p>


                <div class="btn-group">
                    <a class="ui-btn-primary" href="#getstarted">Get Started</a>
                    <a class="ui-btn-primary2"  href="https://github.com/messiasdias/php-framework/tree/master/docs">Documentation</a>
                </div>

            </div>

            <div class="ui-page-body-right">
               <img  src="/assets/img/default/development2.svg" /> 
            </div>

         </div>  
         


         <div class="ui-page-section" id="getstarted">
            
            <h2>Get Started</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>
                Integer scelerisque, nisi in tristique rutrum, augue elit congue nulla, non gravida.
            </p>    
                
            <br><br><br>
            <div class="ui-code">    
                <h3>Install with Composer</h3>

                <div class="code" > 
                    <p>composer create-project -s dev messiasdias/php-framework project_name </p>
                    <a href="#" >Copy</a> 
                </div>
            </div>    

            <div class="ui-code">
                <h3>Via Git Clone</h3>

                <div class="code" > 
                    <p>git clone https://github.com/messiasdias/php-framework.git project_name</p>
                    <a href="#" >Copy</a> 
                </div>
            </div>    
  
         </div>


    </div>


    <div class="ui-page-footer"  >
    
    </div>

</div>



</div>

{% include 'ui/footer.html'  %}
  
