{% extends "ui/template.html"%}
{% block main %}

<div class="ui-box col-10 offset-1 col-md-6 col-lg-4">

    <div class="ui-box-header">
        <img src="/assets/img/default/md-logo2.png">
        <h1 class="text-center"><b>{{description}}</b></h1>  
        <p>Login</p>
    </div>
         
    <div class="ui-box-content" >
            
        {% if log.msg %}
        <div class="alert alert-{{log.class == 'error' ? 'danger' : log.class }}">
            <p>{{log.msg}}</p>
        </div>
        {% endif %}
            
        <form class="ui-form" method="POST" action="/login">

            <div class="ui-form-group">
                <label for="username">Username</label>
                <input class="{{ errors.username.class ? errors.username.class : '' }}"  placeholder="@username" type="text" name="username" value="{{input.username}}"/>
                {% if errors.username %}
                    <p class="error-msg" >{{errors.username.msg}}</p>
                {% endif %}
            </div>

            <div class="ui-form-group">
                <label for="pass">Pass</label>
                <input class="{{ errors.pass.class ? errors.pass.class : '' }}" placeholder="******"  type="password" name="pass" />
                {% if errors.pass %}
                    <p class="error-msg" >{{ errors.pass.msg }}</p>
                {% endif %}
            </div>


            <div class="form-control">
                <p><input type="checkbox" id="remember"  /> <label for="remember">Remember you?</label> </p>
            </div>

            <div class="ui-form-btn-group">
                <input class="" type="submit" value="Sign in">
                <input class="" type="reset" value="Cancel">
            </div>

                    
            <div class="ui-form-btn-group">
                <a href="#">
                    <small class="destak">Forgot you password</small>
                </a>    
            </div>

        </form>
               

    </div>

  
</div>

{% endblock %}