{% include 'layout/header.html'  %}
<!-- production version, optimized for size and speed -->
<script src="/assets/vue/app-assets.js" ></script>
 <div id="app" >
     <h1>MD PHP Framework</h1>
     <p>If you are seeing this, Javascript may not be working correctly.</p>
     
     <p>For install node modules:</p>
     <b>npm install</b>
     
     <p>For start developmente server: </p>
     <b>npm run dev</b>

     <p>For build project: </p>
     <b>npm run build</b>
 </div>
 <script src="/assets/vue/app-main.js" ></script>

 {% include 'layout/footer.html'  %}

