//fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');
$font: 'Nunito', sans-serif;


//colors
$white: #FFFFFF;
$white2: rgba(#FFFFFF, .3);
$black: #000;
$black2: rgba(#000, .3);
$color1: #9e7700;
$color2: #9e9e00;
$color3: #779e00;
$color4: #009e9e;

$success: $color3;
$error: #F85D5D;
$info: $color4;
$warning: $color2;


//Break-points
$md: 768px;

//flex
.flex{
    display: flex;
    align-items: center;

    &-row{
        flex-direction: row;
    }

    &-col{
        flex-direction: column;
    }
}

* {
    padding: 0;
    margin: 0;
}

body{
    @extend .flex, .flex-col;
    justify-content: center !important;
    align-items: center !important;
    max-width: 100vw;
    min-height: 100%;
    min-height: 100vh;
    background-color: #FFFFFF;
    font-family: $font;
    overflow-x: hidden;
    overflow-y: scroll !important;
}



.home {
    @extend .flex, .flex-col;
    justify-content: center !important;
    align-items: center !important;
    width: 100vw !important;
    padding: 30px;


    img{
        width: 60%;
        max-width: 80px;
        margin-bottom: 20px;
        @media screen and (max-width: #{$md}) {
            max-width: 100px;
        }
    }

    h1, h2{ 
        color: $black2;
        text-align: center;
    }    


    p, a{ 
        text-align: center;
        font-weight: lighter;
    }


    p{ 
        color: $color1;
        max-width: 90%;
        font-size: 18px;
    }


    a {
        text-decoration: underline !important ;
        color: $color1 !important;
    }


    ul{
        min-width: 200px;
        list-style: none !important;
        text-align: center;

        li{
            display:flex;
            flex-direction: column;
            margin: 5px auto !important;
            text-align: center;

            a{
                text-decoration: none !important;
                color: $color1;
                font-weight: bolder;
                text-align: center;
                margin: 0px auto !important;
                font-size: 1.5vw;
                @media screen and (max-width: #{$md}) {
                    font-size: 3vw;
                }
            }

            &:hover{
                & > a {
                    color: $color2;
                }
                cursor: pointer;
            }
        }
    }

}


.menu{
    & > li {
        border: solid 2px $color1;
        border-radius: 50px;
        padding: 5px;
        flex-direction: row !important;
    }
}


.log{

    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px 0px;
    background-color: rgba($black2, .001);
    @extend .flex, .flex-col;
    box-shadow: 1px 1px 5px $black2;
    
    h1, h2, p{
        color: $white;
        text-align: center;
    }

    & > .error{
        color: $error !important;
    }

    & > .success{
        color: $success !important;
    }

    & > .info{
        color: $info !important;
    }

    & > .warning{
        color: $warning !important;
    }

}


table{
    border: solid 1px $color1;
    margin: 20px 0px;
    border-collapse: collapse;

    tr, td{
        padding: 3px 10px !important;
    }

    thead{
        th {
            color: $color1;
        }
    }
}