@import "./bootstrap-custom/bootstrap.scss";
@import "./ui/html.scss";



.ui-dashboard {
    box-sizing: border-box !important;
    position: relative !important;
    @extend  .row;
    width: 100vw !important;
    padding: 0 !important;
    margin: 0 !important;

    &-left, &-right{
        box-sizing: border-box !important;
        padding: 0 !important;
        margin: 0 !important;
        min-height: 100vh !important;
    }


    &-left {
        position: absolute;
        display: flex;
        top: 0;
        left: 0px;
        width: $sidebarWidth;
        z-index: 10;
        display: none;


        @media screen and (min-width: $lg ) {
            position: relative !important ;
            width:  25%  !important;
        }

    }

    &-right{
        position: relative !important;
        width: 100% ;
    }

}



.ui-main{

    min-height: 100vh;
    position: relative !important;
    background: $light;
    overflow-y: scroll !important;
    @include scrollbar( $primary, $primary, $black2, 7px );
    padding: 10px;
    box-sizing: border-box !important;
    z-index: -1 !important;
    
  

    & .opacity {
        opacity: .1 !important;
    }

    .container{
        @extend .ui-center;
        padding: 0 !important;
        width: 100% !important;
        min-height: 100% !important;
        margin: 10px auto !important;
  
        .row{
            width: 100% !important;
            @extend .ui-center;
            align-self: center !important;
        }
    }

}


@import "./ui/outhers.scss";
@import "./ui/box.scss";
@import "./ui/btn.scss";
@import "./ui/footer.scss";
@import "./ui/form.scss";
@import "./ui/navbar.scss";
@import "./ui/sidebar.scss";
