//fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');
$font: 'Nunito', sans-serif;


//colors
$white: #FFFFFF;
$white2: rgba(#FFFFFF, .3);
$black: #000;
$black2: rgba(#000, .3);
$black3: #3c4b64;
$light: #c2c2c2;
$light2: #7c7a7a;
$dark: rgba(#000, .5);
$dark2: #091534;
$color1: #9e7700;
$color2: #0247FE;
$color3: #012998;

$success: #28a745;
$error: #F85D5D;
$info: #4799eb;
$warning: #9e7700;
$primary: #4638c2;
$secondary: $info;



$theme-colors: (
  "success":    $success,  
  "primary": $color1,
  "danger": $error,
  "light":  $light,
  "dark":  $black3,
  "warning": $warning,
);  

$color_map: 
"default" $light $black3,
"success" $success $white,
"error" $error $white, 
"warning" $warning $white, 
"info" $info $white, 
"primary" $primary $white; 


$color_map_dark: 
"default" $dark $white,
"success"$dark $white,
"error" $dark $white, 
"warning" $dark $white, 
"info" $dark $white, 
"primary" $dark $white; 

//Break-points
$md: 768px;
$lg: 1024px;


//Components
$sidebarWidth: 300px;

