//ui-footer
.ui-footer{

    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 50px;
    background-color: $white;
    //position: fixed !important;
    position: relative !important;
    bottom: 0 !important;
    right: 0;
    padding: 20px auto !important;
    box-shadow: 1px -1px 5px $black2;


    @media screen and (max-width: #{$md} ) {
        flex-direction: column-reverse;
    }

    &-left, &-right{
        display: flex;
        max-width: 50%;
        min-width: 40%;
        flex-direction: row !important;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: #{$md} ) {
            min-width: 90% !important;
            font-size: 14px !important;
            margin: 0px  !important;
            padding: 0px !important;
            justify-content: center !important;
        }
    }

    &-left{
  
        @media screen and (min-width: #{$lg} ) {
            justify-content: flex-start;
            padding-left: 10px;
        }
    }
    
    &-right{


        @media screen and (min-width: #{$lg} ) {
            justify-content: flex-end;
            padding-left: 10px;
        }
    }


}
